{% extends "base.html" %}

{% block content %}
<div align="center">
    <form action="/send-data" method="post">
        <table border="1" width="500px">
            <tr>
                <th colspan="3">Add Item Form</th>
            </tr>
            <tr>
                <td>Item Code</td><td>:</td><td align="right"><input type="text" name="id" value="{{ id }}" readonly/></td>
            </tr>
            <tr>
                <td>Name</td><td>:</td><td align="right"><input type="text" name="nama"/></td>
            </tr>
            <tr>
                <td>Amount</td><td>:</td><td align="right"><input type="number" name="jumlah"/></td>
            </tr>
            <tr>
                <td>Description</td><td>:</td><td align="right"><input type="text" name="deskripsi"/></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Add"/></td>
            </tr>
        </table>
    </form>
</div>


{% endblock %}