<!DOCTYPE html>
<html>
    <head>
        <title>Cross Platform Application</title>
    </head>
    <body>
        <h1 align="center">Web Manajemen Inventori</h1>
        <div align="center">
            <table border="1" width="500px">
                <tr>
                    <th colspan="5">Menu Website</th>
                </tr>
                <tr>
                    <th><a href="/">Home</a> </th>
                    <th><a href="/LihatBarang">Lihat Barang</a></th>
                    <th><a href="/TambahBarang">Tambah Barang</a></th>
                </tr>
            </table>
        </div>
        <hr width="500px"/>
        <div align="center">
            <form action="/kirimData" method="post">
                <table border="1" width="500px">
                    <tr>
                        <th colspan="3">Form Tambah Barang</th>
                    </tr>
                    <tr>
                        <td>ID Barang</td><td>:</td><td align="right"><input type="text" name="id" value="IDBARANG" readonly/></td>
                    </tr>
                    <tr>
                        <td>Nama Barang</td><td>:</td><td align="right"><input type="text" name="nama"/></td>
                    </tr>
                    <tr>
                        <td>Jumlah Barang</td><td>:</td><td align="right"><input type="number" name="jumlah"/></td>
                    </tr>
                    <tr>
                        <td>Deskripsi Barang</td><td>:</td><td align="right"><input type="text" name="deskripsi"/></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" value="Kirim"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>