<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Cross Platform Application</title>
    </head>
    <body>
        <h1 align="center">Web Manajemen Inventori</h1>
        <div align="center">
            <table border="1" width="500px">
                <tr>
                    <th colspan="5">Menu Website</th>
                </tr>
                <tr>
                    <th><a href="/">Home</a> </th>
                    <th><a href="/LihatBarang">Lihat Barang</a></th>
                    <th><a href="/TambahBarang">Tambah Barang</a></th>
                </tr>
            </table>
        </div>
        <hr width="500px"/>
        <div align="center">
            <table border="1" width="1000px">
                <tr>
                    <th colspan="4">Daftar Barang</th>
                </tr>
                <tr>
                    <th>Kode Barang</th>
                    <th>Nama Barang</th>
                    <th>Jumlah Barang</th>
                    <th>Deskripsi Barang</th>
                </tr>
                <tr>Data</tr>
            </table>
        </div>
    </body>
</html> -->

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Jumlah</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
    </tr>
    {% if data %}
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nama }}</td>
            <td>{{ item.jumlah }}</td>
            <td>{{ item.deskripsi }}</td>
            <td>
                <a href="/UbahBarang?idbarang={{ item.id }}">Ubah</a> | 
                <a href="/HapusBarang?idbarang={{ item.id }}">Hapus</a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">Data Kosong</td>
        </tr>
    {% endif %}
</table>
